<div class="park__wrapper card">
  <div class="chart">
    <div class="chart__line">
      <%= line_chart charts_park_annual_visitors_path(id: @park.id), width:  "#{Chart.width(device_type)}", height: "300px", xtitle: "Year", ytitle: "Total Visitors", library: { baseline: 2000} %>
    </div>
  </div>

  <div class="intro">
    <div class="intro__text">
      <p>
        <%= @park.description %>
        <br></br>
        <%= @park.weather %>
      </p>
    </div>
  </div>
</div>
