<div class="card">
  <div class="intro">
    <div class="intro__text">
      <p>
        Parks Report is an attempt to take National Park data and present it in a way that illustrates the importance of our National Parks.  At a time when our nation's limited resources are under attack, we <strong>must</strong> come together to protect them.  Our parks are a vision of democracy at its best; set aside for every person of every means to enjoy.
      </p>

      <p>
        There are several resources available to learn more about our parks:
      </p>
      <div class="learn-more-list">
        <ul>
          <li><a href="https://www.nps.gov">National Park Service</a></li>
          <li><a href="https://www.nationalparks.org">National Park Foundation</a></li>
          <li><a href="https://www.npca.org">National Park Conservation Association</a></li>
          <li><a href="http://www.sierraclub.org/">Sierra Club</a></li>
        </ul>
      </div>

    </div>
  </div>
  <div class="data-source">
    <p>
      Parks Report was compiled through data available on <a href="https://irma.nps.gov/Stats/">IRMA</a>
      and the <a href="https://developer.nps.gov/api/index.htm">National Park Service API</a>.
    </p>
  </div>
</div>
