.card {
  background-color: white;
  margin: 20px auto;
  max-width: 1000px;
  padding: 20px;
}

.quote {
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
  margin: auto;
  max-width: 800px;
  text-align: center;

  h2 {
    font-style: italic;
  }
}

.intro {
  &__text {
    margin: auto;
    max-width: 800px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;

    p::first-line {
      font-size: 20px;
      font-weight: bold;
    }
  }
}
