nav {
  color: white;
  font-family: 'Oswald', sans-serif;


  .nav__wrapper {
    background-color: gray;
    height: 25px;
    position: fixed;
    width: 100%;
    z-index: 10;

    &-content {
      background-color: gray;
      left: 50%;
      margin-left: -40%;
      position: fixed;
      width: 80%;

      ul {
        margin: auto;
        overflow-x: hidden;
        text-align: right;
        white-space: nowrap;
      }

      li {
        display: inline;
        text-align: left;
      }

      a {
        color: white;
        text-decoration: none;

        &:visited {
          color: white;
        }
      }

      .compass-arrow-logo {
        width: 20px;
      }

      .left {
        float: left;
      }
    }
  }
}

.app__footer {
  background-color: gray;
  color: white;
  font-family: 'Oswald', sans-serif;
  margin-top: 30px;
  width: 100%;

  &-logo {
    display: flex;
    justify-content: center;
    padding: 15px;

    .compass-arrow-logo {
      margin: auto;
      width: 20px;
    }

    a {
      text-decoration: none;
      color: white;

      &:visited {
        color: white;
      }
    }
  }
}
